@import 'https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Merriweather','Georgia', serif;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 9999;
}

::view-transition-new(root) {
  z-index: 1;
}

.dark::view-transition-old(root) {
  z-index: 1;
}

.dark::view-transition-new(root) {
  z-index: 9999;
}

/* https://shiki.style/guide/dual-themes */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
}
